.jumbotron-fluid {
	background:url(C:/Users/poorya/Documents/GitHub/picture/app-landing/freenaturestock-1756.jpg);
	background-size: 100% 100% ;
	height: 500px;
}

.logo{
	width:75px;
	height:75px;
	margin: 12px;
	opacity:50%;
	/*shadow png object*/
	-webkit-filter: drop-shadow(2px 2px 2px #FFF);
 	 filter: drop-shadow(4px 4px 5px #473434);


}

.logo:hover{
	width:75px;
	height:75px;
	margin: 12px;
	opacity:95%;

/*shadow png object*/
-webkit-filter: drop-shadow(2px 2px 10px #FFF);
  filter: drop-shadow(4px 4px 10px #FFF);
  cursor:pointer;
}

/*color of feature */
.feature {
color:#fff;
float:center;
text-align: center;
margin-top:30px;

}


/*creat pading whit logo ant texts*/
.feature h1 {
padding-top:60px;
}

.feature a {
font-weight:bold;
border-radius:10px;
margin-top:20px;
background-color:rgba(231,121,121,50%);
width:160px;
margin-right:20px;

}

.col img {
height:85px;
width:230px;
margin-top:80px;
}

.lottie{
margin-left:50px;
border-radius:50%;
width: 200px; 
height: 200px;

}

.trail {
color:#2a2222;
text-align: center;
padding:20px 0 40px 0;
}

/*add styling for devises under 425*/
@media (max-width: 425px) {

.feature {

margin-top:-45px;

}

.logo{

	width:55px;
	height:55px;

}

h1 {
	font-size: 27px;
}
.feature p {

margin-top:50px;
font-size: 16px;

}

.feature a {
	margin-top:10px;
}

.row {
	margin-top: -50px;
}

.col img {
height:80px;
width:250px;
margin-top:80px;
}


}

/*Add styling for devises betwine 426 & 520*/
@media (min-width: 426px) and (max-width: 520px){
.jumbotron-fluid {
	
	margin: 0;
	height: 400px;
}

.feature {
	margin-top:0;
}

.logo{
	width:60px;
	height:60px;
}
/*creat pading whit logo ant texts*/
 h1 {
padding-top:34px;
font-size:23px;
}

.feature p {
	font-size:15.4px;
	padding-top:5px;
}

.feature a {
margin-top:10px;
width:160px;
margin-right:20px;
}

.col img {
height:30px;
width:100px;
margin-top:80px;
}

.lottie{
margin-left:5px;
border-radius:50%;
width:130px;
height:130px;
}
}

/*Add styling for devises under 768p*/
@media (min-width: 521px) and (max-width: 768px){

.jumbotron-fluid {
	margin: 0;
	height: 450px;
}

 h1 {
padding-top:50px;
font-size:25px;
}

.feature p {
padding-top:8px;
font-size:16.2px;
}

.feature a {
margin-top:20px;
width:160px;
margin-right:20px;
}

.col img {
height:50px;
width:130px;
margin-top:80px;
}

.lottie{
margin-left:5px;
border-radius:50%;
width:130px;
height:130px;
}

}

/*Add styling for devises under 770p*/
@media (min-width: 769px) and (max-width: 999px){

.jumbotron-fluid {
	margin: 0;
	height: 450px;
}

.feature {

float:center;
text-align: center;
}

.feature h1 {
padding-top:50px;


}

.feature a {
margin-top:20px;
width:160px;
margin-right:20px;
}

.col img {
height:70px;
width:180px;
margin-top:80px;
}

.lottie{
margin-left:23px;
border-radius:50%;
width:170px;
height:170px;
}



}
